@font-face {
    font-family: logo-font;
    src: url(fonts/logo-font.ttf);
}

@font-face {
    font-family: nav-font;
    src: url(fonts/nav-font.ttf);
}

@font-face {
    font-family: contact-font;
    src: url(fonts/contact-font.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    padding: 5px;
}

.brand-header {
    font-family: logo-font;
    font-size: 50px;
}

.brand-header a {
    color: black;
}

.list-header {
    font-family: nav-font;
    padding: 20px 70px;
    display: flex;
    gap: 30px;
    list-style-type: none;
    border-radius: 50px;
    background: radial-gradient(circle at 10% 20%, rgb(222, 168, 248) 0%, rgb(168, 222, 248) 21.8%, rgb(189, 250, 205) 35.6%, rgb(243, 250, 189) 52.9%, rgb(250, 227, 189) 66.8%, rgb(248, 172, 172) 90%, rgb(254, 211, 252) 99.7%);
}

.list-header li a {
    color: black;
}

.contact-header {
    padding: 15px 15px;
    border: 1px solid black;
    border-radius: 50px;
    font-family: contact-font;
}

.contact-header a {
    padding: 15px;
    color: black;
}

.contact-header:hover {
    background: radial-gradient(circle at 10% 20%, rgb(222, 168, 248) 0%, rgb(168, 222, 248) 21.8%, rgb(189, 250, 205) 35.6%, rgb(243, 250, 189) 52.9%, rgb(250, 227, 189) 66.8%, rgb(248, 172, 172) 90%, rgb(254, 211, 252) 99.7%);
}

/* MAIN */


main {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.first-section {
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    justify-content: center;
    gap: 20px;
    padding: 0 20px 10px 20px;
    align-items: center;
}

h3 {
    font-family: monospace;
}

/* PRESENTATION */

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
}

.color-gradient {
    background: radial-gradient(circle at 10% 20%, rgb(222, 168, 248) 0%, rgb(168, 222, 248) 21.8%, rgb(189, 250, 205) 35.6%, rgb(243, 250, 189) 52.9%, rgb(250, 227, 189) 66.8%, rgb(248, 172, 172) 90%, rgb(254, 211, 252) 99.7%);
    color: transparent;
    background-clip: text;
    
}

.svg-items a img{
    width: 32px;
}

.presentation {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* END PRESENTATION */

/* EDUCATION */

.second-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 20px 10px 20px;
}

.education {
    display:flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

/* END EDUCATION */

/* SKILLS */

.third-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 20px 10px 20px;
}

/* END SKILLS*/