@font-face {
    font-family: logo-font;
    src: url(fonts/logo-font.ttf);
}

@font-face {
    font-family: nav-font;
    src: url(fonts/nav-font.ttf);
}

@font-face {
    font-family: contact-font;
    src: url(fonts/contact-font.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: nav-font;
    color: black;
    padding: 5px;
}

.brand-header {
    font-family: logo-font;
    font-size: 50px;
    cursor: default;
}

.brand-header a {
    color: black;
}

.contact-header {
    padding: 15px 15px;
    border: 1px solid black;
    border-radius: 50px;
    font-family: contact-font;
}

.contact-header a {
    color: black;
}

.header-container {
    display: flex;
    justify-content: space-around;
    width: 42rem;
    align-items: center;

}

@media screen and (max-width: 800px) {
    .header-container {
        width: 100%; 
    }
}


.contact-header:hover {
    background: radial-gradient(circle at 10% 20%, rgb(222, 168, 248) 0%, rgb(168, 222, 248) 21.8%, rgb(189, 250, 205) 35.6%, rgb(243, 250, 189) 52.9%, rgb(250, 227, 189) 66.8%, rgb(248, 172, 172) 90%, rgb(254, 211, 252) 99.7%);
}

/* MAIN */


main {
    max-width: 42rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.presentation-section {
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 10px 20px;
    width: 100%;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
}

p {
    font-family: monospace;
    color: hsl(220 8.9% 46.1%);
    font-size: .875rem;
}

/* PRESENTATION */

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
}

.color-gradient {
    background: radial-gradient(circle at 10% 20%, rgb(222, 168, 248) 0%, rgb(168, 222, 248) 21.8%, rgb(189, 250, 205) 35.6%, rgb(243, 250, 189) 52.9%, rgb(250, 227, 189) 66.8%, rgb(248, 172, 172) 90%, rgb(254, 211, 252) 99.7%);
    color: rgb(92, 92, 92);
    padding: 3px;
    border-radius: 4px;
    background-clip: black;
    
}

.span-border {
    padding: 2px;
    border-radius: 4px;
    font-family: monospace;
    color: hsl(210 20% 98% / 1);
    background-color: hsl(221deg 39% 11% / 80%);
}

.contact-items {
    display:flex;
    gap: 10px;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: default;
    flex-wrap: wrap;
}

.presentation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4px;
}

/* END PRESENTATION */

/* ABOUT */

.about-section {
    display: flex;
    flex-direction: column;
    padding: 0 20px 10px 20px;
}

/* END ABOUT */ 

/* EDUCATION */

.education-section {
    display: flex;
    flex-direction: column;
    padding: 0 20px 10px 20px;
}

.education {
    display:flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

.education h3 {
    font-size: 1rem;
}

/* END EDUCATION */

/* SKILLS */

.skills-section {
    display: flex;
    flex-direction: column;
    padding: 0 20px 10px 20px;
}   

.skills-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    gap: 5px;
}

.skill {
    padding: 5px;
    border-radius: 4px;
    font-size: .75rem;
    font-family: monospace;
    color: hsl(210 20% 98% / 1);
    background-color: hsl(221deg 39% 11% / 80%);
}
/* END SKILLS*/

/* PROJECTS */

.projects-section {
    display: flex;
    flex-direction: column;
    padding: 0 20px 10px 20px;
}

.projects-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.project-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.project-title {
    font-size: 1.2em;
    border-bottom: 1px solid #ccc;
    color: rgb(79, 79, 79);
    font-family: monospace;
}

.project-description {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* END PROJECTS */

.presentation-section {
    margin-top: 30px;
    margin-bottom: 5px;
}

.education-section, .skills-section, .projects-section {
    margin-top: 5px;
    margin-bottom: 5px;
}